#model {
	height: 500px;
}

body {
	color: #222222;
	margin-bottom: 30px;
}

ul {
	list-style-type:none;
}

table {
	color: #555555;
	margin-bottom: 11px;
	margin-left: 40px;
}

p {
	display: block;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

td {
	border-top: none;
	padding-right: 20px;
	min-width: 200px;
	text-align: left;
}

code {
	padding-top: 2px;
	padding-right: 4px;
	padding-left: 2px;
	padding-bottom: 2px;
	white-space: nowrap;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	border-radius: 3px;
}

.section {
	margin-left: 20px;
}

.shell {
	color: #006400;
}
.psql {
	color: #6495ED;
}

.push {
	margin-left: 40px;
}

div .code {
	/*display: block;*/
	min-width: 400px;
	padding-top: 2px;
	padding-right: 4px;
	padding-left: 10px;
	padding-bottom: 2px;
	min-width: 50px;
	white-space: nowrap;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	border-radius: 3px;
	margin-bottom: 10px;
}

